/**
 * openSUSE theme for reveal.js.
 *
 * By Kristoffer Gronlund <kgronlund@suse.com>
 */

@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro|Source+Sans+Pro:300);

section.has-dark-background, section.has-dark-background h1, section.has-dark-background h2, section.has-dark-background h3, section.has-dark-background h4, section.has-dark-background h5, section.has-dark-background h6 {
  color: #ccedea;
}

body {
  background: #173f4f;
  background-color: #173f4f;
}

.reveal {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 38px;
  font-weight: 300;
  color: #35b9ab;
}

.reveal .colophon {
    font-size: 50%;
}

::selection {
  color: #fff;
  background: #98bdef;
  text-shadow: none;
}

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit;
}

.reveal > .slides > section > section {
  transform-style: flat;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #ccedea;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: normal;
  text-shadow: none;
  word-wrap: break-word;
}

.reveal h1 {
    font-size: 2.5em;
}

.reveal h2 {
    font-size: 1.6em;
}

.reveal h3 {
    font-size: 1.3em;
}

.reveal h4 {
    font-size: 1em;
}

.reveal h1 {
    text-shadow: none;
}

.reveal .title-name {
    margin-top: 4em;
    color: #96cb5c;
}

.reveal .title-mail {
    color: #96cb5c;
    font-size: 75%;
}

.reveal p {
  margin: 20px 0;
  line-height: 1.3;
}

.reveal .disclaimer {
    font-size: 50%;
    line-height: 1.2;
}

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%;
}

.reveal strong,
.reveal b {
    font-weight: bold;
}

.reveal em {
    font-style: italic;
}

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em;
}

.reveal ol {
    list-style-type: decimal;
}

.reveal ul {
    list-style-type: disc;
}

.reveal ul ul {
    list-style-type: square;
}

.reveal ul ul ul {
    list-style-type: circle;
}

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px;
}

.reveal dt {
  font-weight: bold;
}

.reveal dd {
  margin-left: 40px;
}

.reveal q,
.reveal blockquote {
  quotes: none;
}

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block;
}

.reveal q {
  font-style: italic;
}

.reveal pre {
  display: block;
  position: relative;
  width: 95%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: "Source Code Pro", monospace;
  line-height: 1.1em;
  word-wrap: break-word;
}

.reveal code {
  font-family: monospace;
}

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 480px;
  word-wrap: normal;
}

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
}

.reveal table th {
  font-weight: bold;
}

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid;
}

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center;
}

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right;
}

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none;
}

.reveal sup {
  vertical-align: super;
}

.reveal sub {
  vertical-align: sub;
}

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top;
}

.reveal small * {
  vertical-align: top;
}

.reveal a {
color: #73ba25;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease;
}

.reveal a:hover {
  color: #dceec8;
  text-shadow: none;
  border: none;
}

.reveal .roll span:after {
  color: #fff;
  background: #1a53a1;
}

.reveal section img {
  margin: 15px 0px;
}

.reveal section img.plain {
  border: 0;
  box-shadow: none;
}

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear;
}

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #2a76dd;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}

.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
  border-right-color: #73ba25;
}

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
  border-left-color: #73ba25;
}

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
  border-bottom-color: #73ba25;
}

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
  border-top-color: #73ba25;
}

.reveal .controls .navigate-left.enabled:hover {
  border-right-color: #6ca0e8;
}

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: #6ca0e8;
}

.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: #6ca0e8;
}

.reveal .controls .navigate-down.enabled:hover {
  border-top-color: #6ca0e8;
}

.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
}

.reveal .progress span
{
  background: #73ba25;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}
